@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primaty-color);

  min-height: 100vh;
}
